:root{
    --background-color: #041c2c;
    --color-tittle: #a9b5cd;
    --color-subtittle: #72819c;
    --color-fluor: #0aafa4;
    --color-text: #3a4b65;
}

*{
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color:#041c2c;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 3rem;
}

.navBar nav ul {
    gap: 1rem;
}

.sobreMiContenedor {
    max-width: 600px;
    margin: auto;
}

.destacados1 h2, .destacados2 h2 {
    color: var(--color-subtittle);
    font-size: 2rem;
}

.destacadosP, .destacados2P {
    color: var(--color-text);
    font-weight: 600;
}

.iconFolders img {
    max-width: 100px;
    transition: transform 0.2s;
}

.iconFolders img:hover {
    transform: scale(1.1);
}

.contactCenter {
    max-width: 500px;
    margin: auto;
    gap: 1rem;
}

.contactCenter a{
    font-size: xx-large;
}

label{
    color: var(--color-fluor);
}

#contacto h2{
    color: var(--color-fluor);
}

#contacto{
    padding-top: 15rem;
}

